 @model IEnumerable<GlobalTrans.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.name_company)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.name_company)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id_client  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.id_client  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
