@model IEnumerable<GlobalTrans.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h1>List of drivers</h1>

<p>
    <a asp-action="Create">Add new driver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.personalIDNumber)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_driver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.personalIDNumber)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id_driver  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.id_driver }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.id_driver })
            </td>
        </tr>
}
    </tbody>
</table>
