 @model GlobalTrans.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_vehicle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registrationNUmber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registrationNUmber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yearProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yearProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rodzaj_pojazdu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rodzaj_pojazdu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emisja_spalin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emisja_spalin)
        </dd>
      
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.id_vehicle }) |
    <a asp-action="VehicleList">Back to List</a>
</div>
