@model IEnumerable<GlobalTrans.Models.Road>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_road)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placeOfLoading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placeOfUnloading)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.fk_id_driver)
            </td>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_road)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeOfLoading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeOfUnloading)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => item.fk_id_driver)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
